h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
    font-size: 42px;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

